asgiref
Django
psycopg2-binary
sqlparse
tzdata
whitenoise
certifi
charset-normalizer
cloudinary
django-cors-headers
django-environ
django-filter
djangorestframework
djangorestframework-simplejwt
Pillow
PyJWT
requests
six
typing_extensions
urllib3
