asgiref
certifi
charset-normalizer
cloudinary
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-environ
django-filter
djangorestframework
djangorestframework-simplejwt
idna
Markdown
pillow
psycopg2
psycopg2-binary
PyJWT
requests
six
sqlparse
typing_extensions
tzdata
urllib3
